.topnav {
    overflow: hidden;
    background-color: #2e1f27;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #dd8d3d;
    color: white;
  }

  body{
      background-color: #f4c95d;
  }

  header{
      background-color: #dd8d3d;
      position: fixed; top: 0;
      width: 100%;
      z-index: 100;
  }

  #recipe{
    background-color: #e7e39354;
  }

  #recipeTitel{
    background-color: #e7e393;
  }

  #step{
    background-color: #e7e393;
  }

  #text{
    background-color: #e7e39354;
  }

  footer{
    background-color: #dd8d3d;
  }
